<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SchedulesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SchedulesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://xacttime.taserver.com/site/webservices/v2/schedules.asmx"
                binding="basicHttpBinding" bindingConfiguration="SchedulesSoap"
                contract="TimeAmericaSoap.SchedulesSoap" name="SchedulesSoap" />
        </client>
    </system.serviceModel>
</configuration>